executor {
    memory = '100.GB'
    cpus = 20
    queueSize = 100
}
//
// Active l’utilisation de Conda via Nextflow
//
conda.enabled = true

//
// Par défaut, chaque process utilisera l'environnement décrit dans env.yml
//
process {
    conda = "/home/ilyass09/code/env.yml"
    executor = 'local'
}

//
//
profiles {
  // Exemple : "nextflow run pipeline.nf -profile conda"
  conda {
    conda.enabled = true
    process.conda = "/home/ilyass09/code/env.yml"
  }

  
}
