// ===============================================================================
// CONFIGURATION PROFILE FOR BELUGA HPC CLUSTER
// ===============================================================================
// This configuration is specific to the Compute Canada (Alliance) HPC system.
// It defines the necessary parameters to run Nextflow on Beluga.
// ===============================================================================

params.config_profile_description = 'Alliance Beluga HPC config'  // Profile description
params.config_profile_contact = 'https://docs.alliancecan.ca/wiki/Technical_support'  // Technical support link
params.config_profile_url = 'docs.alliancecan.ca/wiki/Nextflow'  // Nextflow documentation for Alliance
conda.enabled = true  // Enable conda for package management
// ===============================================================================
// GLOBAL PROCESS CONFIGURATION
// ===============================================================================
// Defines default parameters for all pipeline processes
// ===============================================================================

process {
  // executor = 'slurm' 
  // maxRetries = 1
  // errorStrategy = { task.exitStatus in [125,139] ? 'retry' : 'finish' }
  memory = 10.GB  // Default memory allocation for each process
  cpu = 1  
  // time = '12h' 
  max_memory=40.GB
  // max_cpu=40
  // max_time='168h'
}

// executor {
//   pollInterval = '60 sec'
//   submitRateLimit = '60/1min'
//   queueSize = 100 
// }
// profiles {
//   beluga {
//     max_memory='10G'
//     max_cpu=40
//     max_time='168h'
//   }
//   narval {
//     max_memory='249G'
//     max_cpu=64
//     max_time='168h'
//   }
// }
// ===============================================================================
// EXECUTION PROFILES
// ===============================================================================
// Defines preset configurations that can be activated with -profile
// ===============================================================================

profiles {
  beluga {  // Specific profile for jobs requiring more resources on Beluga
    max_memory='186G'  // Maximum memory per job in this profile
    max_cpu= 60  // Maximum CPUs per job
    max_time='168h'  // Maximum execution time (1 week)
  }
}


// ===============================================================================
// PATHS USED IN THE PIPELINE
// ===============================================================================
// Paths to RNA FASTA files to filter (snRNA, snoRNA, rRNA) by species
// Paths to complete genomes and annotations for STAR alignmen
// false = species is not configured/supported
// ===============================================================================

// pipline directory
params.path_pipeline_directory = '/project/def-xroucou/ribotie'  // Path to the pipeline directory
params.reference_files_directory = "${params.path_pipeline_directory}/reference"  // Directory for reference files

// rRNA FASTA files for Bowtie - filtering non-coding and ribosomal RNAs

params.rrna_filter = [
  'HS': "${params.reference_files_directory}/HS/rrna-filter.fasta",
  'CE': "${params.reference_files_directory}/CE/rrna_filter.fasta",
  'DM': "${params.reference_files_directory}/DM/rrna_filter.fasta",
  'SC': "${params.reference_files_directory}/SC/rrna_filter.fasta",
  'DR': "${params.reference_files_directory}/DR/rrna_filter.fasta",
  'SM': "${params.reference_files_directory}/SM/rrna_filter.fasta"
]

params.genome_fastas = [
    'HS': "${params.reference_files_directory}/HS/HS_genome.fasta",
    'CE': "${params.reference_files_directory}/CE/CE_genome.fasta",
    'DM': "${params.reference_files_directory}/DM/DM_genome.fasta",
    'SC': "${params.reference_files_directory}/SC/SC_genome.fasta",
    'DR': "${params.reference_files_directory}/DR/DR_genome.fasta",
    'SM': "${params.reference_files_directory}/SM/SM_genome.fasta"
]
params.GTFs = [
    'HS': "${params.reference_files_directory}/HS/HS_GTF.gtf",
    'CE': "${params.reference_files_directory}/CE/CE_GTF.gtf",
    'DM': "${params.reference_files_directory}/DM/DM_GTF.gtf",
    'SC': "${params.reference_files_directory}/SC/SC_GTF.gtf",
    'DR': "${params.reference_files_directory}/DR/DR_GTF.gtf",
    'SM': "${params.reference_files_directory}/SM/SM_GTF.gtf"
]


// Parameter for multiqc 
params.multiqc_config = "${params.path_pipeline_directory}/riboseq_nextflow_pipeline/config_multiqc.yaml"
params.fastq_dir = "/project/def-xroucou/ribotie/fastq"
params.input_csv = "${params.path_pipeline_directory}/test_sample.csv"  // Input CSV file for the pipeline