// ===============================================================================
// CONFIGURATION PROFILE FOR BELUGA HPC CLUSTER
// ===============================================================================
// This configuration is specific to the Compute Canada (Alliance) HPC system.
// It defines the necessary parameters to run Nextflow on Beluga.
// ===============================================================================

params.config_profile_description = 'Alliance Beluga HPC config'  // Profile description
params.config_profile_contact = 'https://docs.alliancecan.ca/wiki/Technical_support'  // Technical support link
params.config_profile_url = 'docs.alliancecan.ca/wiki/Nextflow'  // Nextflow documentation for Alliance
conda.enabled = true  // Enable conda for package management


// ===============================================================================
// GLOBAL PROCESS CONFIGURATION
// ===============================================================================

process {
    executor = 'slurm'
    queue = 'noxatras'  // Replace with your actual account/partition
    maxRetries = 3
    errorStrategy = { task.exitStatus in [125,139] ? 'retry' : 'finish' }

    // Default resources
    cpus = 1
    memory = '4.GB'
    time = '1h'
    

    withName: 'RIBOTIE_DATA' {
        cpus = 6
        memory = { 
            def base = 60.GB
            def bam_size = task.attempt > 1 ? 
                (file("*Aligned.toTranscriptome.out.bam").size() / (1024**3) * 1.5).GB : 20.GB
            return Math.min(120.GB, base + bam_size) * task.attempt
        }
        time = '24h'
        clusterOptions = '--account=def-xroucou'
    }
    
    withName: 'RIBOTIE_ML' {
        cpus = 8
        memory = '80.GB'
        time = '24h'
        clusterOptions = '--account=def-xroucou --gpus=a100_3g.20gb:1'
    }
}

executor {
    name = 'slurm'
    pollInterval = '60 sec'
    submitRateLimit = '60/1min'
    queueSize = 100
}

// Resource limits
params {
    max_memory = 120.GB
    max_cpus = 40
    max_time = 168.h
}

// ===============================================================================
// PATHS USED IN THE PIPELINE
// ===============================================================================



params.reference_files_directory = "${projectDir}/../../reference"



params.annotation_GTF= [
    'HS': "${params.reference_files_directory}/HS/Homo_sapiens.GRCh38.114.gtf",
    'MM': "${params.reference_files_directory}/MM/MM_GTF.gtf",
]

params.dna_assembly = [
    'HS': "${params.reference_files_directory}/HS/Homo_sapiens.GRCh38.dna.primary_assembly.fa",
    'MM': "${params.reference_files_directory}/MM/MM_GTF.fa",
]

// MM line is a placeholder


params.input_csv = "${projectDir}/../Samplesheet_example/test.csv"
params.aligned_to_tr_files = "${projectDir}/../../trimmed_fastq"
params.ribotie_package_path = "${projectDir}/../../reference"