
conda.enabled = true  // Enable conda for package management


// ===============================================================================
// PATHS USED IN THE PIPELINE
// ===============================================================================
// Paths to RNA FASTA files to filter (snRNA, snoRNA, rRNA) by species
// Paths to complete genomes and annotations for STAR alignmen
// false = species is not configured/supported
// ===============================================================================

// pipline directory
params.path_pipeline_directory = '/project/def-xroucou/ribotie'  // Path to the pipeline directory
params.reference_files_directory = "${params.path_pipeline_directory}/reference"  // Directory for reference files


// Parameter for multiqc 
params.multiqc_config = "${params.path_pipeline_directory}/Ribotie_nextflow_pipeline/multiqc_custom_config.yaml"
params.fastq_dir = "/project/def-xroucou/ribotie/fastq"
params.input_csv = "${params.path_pipeline_directory}/Samplesheet_example/all_human.csv"  // Input CSV file for the pipeline
params.trimmed_fastq_dir = "${params.path_pipeline_directory}/trimmed"